/* 1. Layout */
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'MullerRegular';
    src: url('../fonts/MullerRegular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MullerRegular.otf')  format('opentype'), url('../fonts/MullerRegular.woff') format('woff'), url('../fonts/MullerRegular.ttf')  format('truetype'), url('../fonts/MullerRegular.svg#MullerRegular') format('svg');
}
@font-face {
    font-weight: 400;
    font-style: normal;
    font-family: 'MullerBold';
    src: url('../fonts/MullerBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/MullerBold.otf')  format('opentype'), url('../fonts/MullerBold.woff') format('woff'), url('../fonts/MullerBold.ttf')  format('truetype'), url('../fonts/MullerBold.svg#MullerBold') format('svg');
}
/* layout */
/* variables */
* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a {
    color: inherit;
}
a:hover, a:focus, a:visited {
    text-decoration: none;
}
body, html {
    overflow-x: hidden;
    max-width: 100%;
    background: white;
    color: #333;
    font-size: 14px;
    font-family: 'MullerRegular';
}
.container {
    max-width: 1200px;
    width: 100%;
}
/* Helpers */
.mr1 {
    margin-right: 1em;
}

/* 2. Modules */
.hamburger {
    padding-bottom: 0;
}
.mobile-nav {
    display: none;
    background: white;
    color: rgba(255, 255, 255, 0.9);
    font-size: 17.6px;
    font-size: 1.1rem;
}
.mobile-nav .mobile-nav-list {
    margin: 0;
    padding: 20px 0 0px 0;
    border-top: 1px solid #d6d6d6;
    color: #333;
    list-style: none;
    text-align: center;
}
.mobile-nav .mobile-nav-list li {
    display: block;
    margin: 0;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.mobile-nav .mobile-nav-list li .ico {
    margin-right: .5em;
}
.mobile-nav .mobile-nav-list li a {
    display: block;
    padding: 0.6em 2em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.mobile-nav .mobile-nav-list li a:hover {
    background: rgba(255, 255, 255, 0.1);
}
.mobile-nav .mobile-nav-list li a:active, .mobile-nav .mobile-nav-list li a:focus {
    color: white;
    text-decoration: none;
}
.mobile-nav .mobile-nav-list li.active a {
    border-left-color: #fd3a3a;
}
.mobile-nav .mobile-nav-list li:hover:not(.active) {
    background: rgba(255, 255, 255, 0.1);
}
.mobile-nav .mobile-nav-list li:hover:not(.active) a {
    border-color: rgba(51, 51, 51, 0.5);
}
.btn-cta {
    display: inline-block;
    padding: 20px 40px 17px 40px;
    border: 2px solid transparent;
    border-radius: 4px;
    background: #fd3a3a;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'MullerBold';
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.btn-cta:hover {
    border-color: #fd3a3a;
    background: transparent;
    color: #fd3a3a;
}
.btn-outline {
    display: inline-block;
    padding: 17px 40px 15px 40px;
    border: 2px solid white;
    border-radius: 4px;
    background: transparent;
    color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: 'MullerBold';
    cursor: pointer;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.btn-outline:hover {
    border-color: white;
    background: white;
    color: #333;
}
.heading {
    text-align: center;
    font-size: 44px;
    font-family: 'MullerBold';
}
@media(max-width: 1000px) {
    .heading {
        font-size: 40px;
    }
}
@media(max-width: 768px) {
    .heading {
        font-size: 36px;
    }
}
@media(max-width: 568px) {
    .heading {
        font-size: 32px;
    }
}
.heading--small {
    font-size: 28px;
}
.heading--white {
    color: white;
}
.subheading {
    color: #a5a5a5;
    text-align: center;
    font-size: 28px;
    font-family: 'MullerBold';
}
@media(max-width: 768px) {
    .subheading {
        font-size: 24px;
    }
}
@media(max-width: 568px) {
    .subheading {
        font-size: 20px;
    }
}
.subheading--light {
    color: #484848;
    font-size: 20px;
    font-family: 'MullerRegular';
}
@media(max-width: 568px) {
    .subheading--light {
        font-size: 18px;
    }
}
/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: white;
    -webkit-transition: padding .4s ease;
    transition: padding .4s ease;
}
@media(max-width: 568px) {
    .header {
        padding-top: 10px;
        padding-bottom: 5px;
    }
}
.header.sticky {
    padding-top: 5px;
    padding-bottom: 5px;
    -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
.header__navi {
    margin-top: 21px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    text-transform: uppercase;
    font-size: 13px;
    font-family: 'MullerBold';
}
.header__navi li {
    display: inline-block;
}
.header__navi li::after {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    color: #d6d6d6;
    content: ' | ';
}
.header__navi li:last-child {}
.header__navi li:last-child::after {
    display: none;
}
@media(max-width: 1200px) {
    .header__navi {
        text-align: center;
    }
}
@media(max-width: 863px) {
    .header__navi {
        margin-top: 15px;
    }
}
@media(max-width: 656px) {
    .header__navi {
        font-size: 12px;
    }
}
@media(max-width: 1200px) {
    .header__navi li::after {
        margin-right: 10px;
        margin-left: 10px;
    }
}
.header__socials {
    margin-top: 20px;
}
.header__socials .ico {
    vertical-align: middle;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.header__socials .ico:hover {
    opacity: .7;
}
@media(max-width: 455px) {
    .header__socials {
        display: none;
    }
}
@media(max-width: 625px) {
    .header__socials .ico {
        margin-right: 2px;
    }
}
@media(max-width: 568px) {
    .header__socials .ico {
        margin-right: 10px;
    }
}
.footer {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #141414;
    color: white;
}
.footer .ico-logo {
    background-image: url('../images/logo-bw.png');
}
.footer .header__socials {
    margin-top: 20px;
}
.footer .header__socials .ico {
    vertical-align: middle;
    -webkit-filter: invert(1);
            filter: invert(1);
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.footer__copy {
    margin-top: 20px;
}
@media(max-width: 930px) {
    .footer__copy {
        margin-top: 15px;
    }
}
.hero {
    padding-top: 140px;
    min-height: 600px;
    height: 100vh;
    background: url('../images/hero-bg.png') no-repeat center;
    background-size: cover;
    color: white;/* bottom cta */
}
.hero .btn-cta {
    margin-top: 5vh;
    margin-bottom: 5vh;
}
@media(max-width: 568px) {
    .hero {
        padding-top: 100px;
        height: auto;
    }
}
.hero__uptitle {
    font-size: 30px;
    font-family: 'MullerBold';
}
.hero__title {
    margin-top: 20px;
    font-size: 65px;
    font-family: 'MullerBold';
    line-height: 1;
}
@media(max-width: 1000px) {
    .hero__title {
        font-size: 50px;
    }
}
@media(max-width: 568px) {
    .hero__title {
        margin-top: 0;
        font-size: 42px;
    }
}
.hero__desc {
    margin-top: 3vh;
    font-size: 22px;
}
@media(max-width: 1000px) {
    .hero__desc {
        font-size: 20px;
    }
}
@media(max-width: 568px) {
    .hero__desc {
        font-size: 18px;
    }
}
.hero--bottom {
    padding-top: 90px;
    min-height: 490px;
    height: 490px;
    background-image: url('../images/hero-bottom-bg.png');
}
.hero--bottom .hero__title {
    margin-top: 10px;
}
@media(max-width: 768px) {
    .hero--bottom {
        min-height: 400px;
        height: 400px;
    }
}
.events {
    margin-top: 100px;
}
@media(max-width: 1000px) {
    .events {
        margin-top: 75px;
    }
}
@media(max-width: 568px) {
    .events {
        margin-top: 50px;
    }
}
.events__item {
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}
.events__item__status {
    position: absolute;
    top: 20px;
    right: 40px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #ffd800 url('../images/ico-status-wait.png') no-repeat center;
}
.events__item__image {
    min-height: 140px;
}
.events__item__image img {
    display: inline-block;
    max-width: 100%;
}
.events__item__name {
    font-size: 28px;
    font-family: 'MullerBold';
}
@media(max-width: 1000px) {
    .events__item__name {
        font-size: 24px;
    }
}
@media(max-width: 568px) {
    .events__item__name {
        font-size: 20px;
    }
}
.events__item__date {
    color: #757575;
    font-size: 20px;
}
.events__item--compleated .events__item__image {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}
.events__item--compleated .events__item__status {
    background: #80e200 url('../images/ico-status-ok.png') no-repeat center;
}
.events__item--compleated .events__item__name {
    color: #b7b7b7;
}
.events__item--compleated .events__item__date {
    color: #b7b7b7;
}
.counter {
    margin-top: 100px;
}
@media(max-width: 1000px) {
    .counter {
        margin-top: 75px;
    }
}
@media(max-width: 568px) {
    .counter {
        margin-top: 50px;
    }
}
.counter__nums {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: center;
            justify-content: center;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
}
.about {
    margin-top: 100px;
    padding-top: 80px;
    min-height: 750px;
    background: -webkit-gradient(linear, left bottom, left top, from(#cff1f3), to(#f1feff));
    background: -webkit-linear-gradient(bottom, #cff1f3, #f1feff);
    background: linear-gradient(to top, #cff1f3, #f1feff);
}
.about .container {
    position: relative;
}
.about .row {
    position: static;
}
.about .col-lg-12 {
    position: static;
    margin-top: 50px;
}
.about p {
    position: relative;
    z-index: 3;
    color: #484848;
    font-size: 20px;
    line-height: 2em;
}
@media(max-width: 768px) {
    .about {
        margin-top: 75px;
        min-height: auto;
    }
}
@media(max-width: 568px) {
    .about {
        margin-top: 50px;
    }
}
@media(max-width: 1000px) {
    .about .col-lg-12 {
        padding-bottom: 30px;
    }
}
@media(max-width: 1000px) {
    .about p {
        font-size: 18px;
        line-height: 1.7em;
    }
}
@media(max-width: 568px) {
    .about p {
        font-size: 17px;
        line-height: 1.6em;
    }
}
.about__image {
    position: absolute;
    top: -78px;
    right: -80px;
    z-index: 2;
    width: 718px;
    height: 748px;
    background: url('../images/about-img.png') no-repeat center;
    background-size: cover;
}
@media(max-width: 1000px) {
    .about__image {
        top: 17px;
        -webkit-transform: scale(.75);
            -ms-transform: scale(.75);
                transform: scale(.75);
    }
}
@media(max-width: 768px) {
    .about__image {
        display: none;
    }
}
.gallery {
    padding-top: 80px;
    padding-bottom: 120px;
    background: url('../images/gallery-bg.png') no-repeat center;
    background-size: cover;
}
.gallery .heading {
    margin-bottom: 40px;
}
@media(max-width: 1000px) {
    .gallery {
        padding-top: 60px;
        padding-bottom: 90px;
    }
}
@media(max-width: 568px) {
    .gallery {
        padding-top: 40px;
        padding-bottom: 80px;
    }
}
.gallery__more {
    display: none;
}
.gallery__image {
    position: relative;
    display: block;
    overflow: hidden;
    margin-bottom: 30px;
}
.gallery__image img {
    width: 100%;
}
.gallery__image::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    background: rgba(0, 0, 0, 0.5) url('../images/zoom.svg') no-repeat 90% 90%;
    background-size: 30px;
    content: ' ';
    opacity: 0;
    -webkit-transition: opacity .4s ease-in-out, background .6s ease;
    transition: opacity .4s ease-in-out, background .6s ease;
}
.gallery__image:hover::after {
    opacity: 1;
}
.partners {
    position: relative;
    margin-top: 100px;
    padding-bottom: 150px;
}
.partners .owl-dots {
    bottom: -80px;
}
@media(max-width: 1000px) {
    .partners {
        margin-top: 75px;
        padding-bottom: 100px;
    }
}
@media(max-width: 568px) {
    .partners {
        margin-top: 50px;
        padding-bottom: 60px;
    }
}
.partners__block {
    margin-top: 80px;
}
@media(max-width: 1000px) {
    .partners__block {
        margin-top: 60px;
    }
}
@media(max-width: 568px) {
    .partners__block {
        margin-top: 40px;
    }
}
.partners__image {
    margin-bottom: 15px;
}
.partners__image img {
    max-width: 100% !important;
    width: auto !important;
}
.partners__name {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'MullerBold';
}
@media(max-width: 768px) {
    .partners__name {
        font-size: 20px;
    }
}
@media(max-width: 568px) {
    .partners__name {
        font-size: 18px;
    }
}
.partners__content {
    font-size: 16px;
    line-height: 30px;
}
@media(max-width: 768px) {
    .partners__content {
        font-size: 14px;
        line-height: 1.3em;
    }
}
.owl-dots {
    position: absolute;
    bottom: -40px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}
.owl-dots .owl-dot {
    display: inline-block;
    margin-right: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #e4e4e4;
}
.owl-dots .owl-dot.active {
    background: #fd3a3a;
}
@media(max-width: 768px) {
    .owl-dots .owl-dot {
        margin-right: 15px;
        width: 12px;
        height: 12px;
    }
}
@media(max-width: 568px) {
    .owl-dots .owl-dot {
        margin-right: 10px;
    }
}
.products {
    padding-top: 120px;
    padding-bottom: 50px;
    background: -webkit-radial-gradient(#f0feff, #ceeff1);
    background: radial-gradient(#f0feff, #ceeff1);
}
@media(max-width: 1000px) {
    .products {
        padding-top: 90px;
    }
}
@media(max-width: 568px) {
    .products {
        margin-top: 70px;
    }
}
.products--second {
    margin-top: 0;
    padding-top: 50px;
    padding-bottom: 140px;
}
@media(max-width: 1000px) {
    .products--second {
        padding-bottom: 100px;
    }
}
@media(max-width: 568px) {
    .products--second {
        padding-bottom: 70px;
    }
}
.product {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 20px 20px 30px 20px;
    background: white;
}
.product .btn-buy {
    display: block;
    margin-top: 10px;
    padding: 6px 30px;
    background: #fd3a3a;
    text-align: center;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}
.product .btn-buy:hover {
    background: rgba(253, 58, 58, 0.8);
}
.product__image {
    margin-bottom: 15px;
}
.product__image img {
    max-width: 100% !important;
    width: auto !important;
}
.product__name {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'MullerBold';
}
.product__desc {
    color: #999;
}
.product__stars {
    margin-top: 10px;
}
.product__stars span {
    font-size: 13px;
}
.product__price {
    margin-top: 10px;
}
.product__old {
    color: #8f8f8f;
    text-decoration: line-through;
    font-size: 18px;
    line-height: 1;
}
.product__new {
    margin-top: 5px;
    font-size: 24px;
    line-height: 1;
}
.mfp-title {
    display: none;
}
.bloc-time {
    margin-right: 15px;
    text-align: center;
}
.bloc-time:last-child {
    margin-right: 0;
}
.count-title {
    display: block;
    padding-top: 10px;
    text-align: center;
    font-size: 16px;
}
@media(max-width: 440px) {
    .count-title {
        font-size: 14px;
    }
}
.figure {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 5px;
    margin-bottom: 8px;
    width: 40px;
    height: 50px;
    border: 4px solid #c5f3ff;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
            box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.figure > span {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    color: #555555;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.35em;
}
.figure .top, .figure .bottom-back {}
.figure .top:after, .figure .bottom-back:after {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    content: "";
}
.figure .top {
    z-index: 3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f7f7f7;
    -webkit-transform: perspective(200px);
            transform: perspective(200px);
    -ms-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
    -webkit-transform-origin: 50% 100%;
}
.figure .bottom {
    z-index: 1;
}
.figure .bottom:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.02);
    content: "";
}
.figure .bottom-back {
    top: 0;
    z-index: 2;
    overflow: hidden;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f7f7f7;
}
.figure .bottom-back span {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
}
.figure .top, .figure .top-back {
    overflow: hidden;
    height: 50%;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}
.figure .top-back {
    bottom: 0;
    z-index: 4;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: #fff;
    -webkit-transform: perspective(200px) rotateX(180deg);
            transform: perspective(200px) rotateX(180deg);
    -webkit-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
        transform-origin: 50% 0;
}
.figure .top-back span {
    position: absolute;
    top: -100%;
    right: 0;
    left: 0;
    margin: auto;
}
.figure:last-child {
    margin-right: 0;
}
@media(max-width: 440px) {
    .figure {
        width: 35px;
        height: 45px;
    }
}
@media(max-width: 400px) {
    .figure {
        width: 25px;
        height: 35px;
        border-width: 2px;
    }
}
@media(max-width: 440px) {
    .figure > span {
        font-size: 32px;
    }
}
@media(max-width: 400px) {
    .figure > span {
        font-size: 26px;
    }
}
/* Magnific Popup CSS */
.mfp-bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1042;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: #0b0b0b;
    opacity: 0.8;
}
.mfp-wrap {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1043;
    width: 100%;
    height: 100%;
    outline: none !important;
    -webkit-backface-visibility: hidden;
}
.mfp-container {
    position: absolute;
    top: 0;
    left: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 8px;
    width: 100%;
    height: 100%;
    text-align: center;
}
.mfp-container:before {
    display: inline-block;
    height: 100%;
    content: '';
    vertical-align: middle;
}
.mfp-align-top .mfp-container:before {
    display: none;
}
.mfp-content {
    position: relative;
    z-index: 1045;
    display: inline-block;
    margin: 0 auto;
    vertical-align: middle;
    text-align: left;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 100%;
    cursor: auto;
}
.mfp-ajax-cur {
    cursor: progress;
}
.mfp-zoom-out-cur {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: -webkit-zoom-out;
    cursor: zoom-out;
}
.mfp-zoom {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;
}
.mfp-auto-cursor .mfp-content {
    cursor: auto;
}
.mfp-close, .mfp-arrow, .mfp-preloader, .mfp-counter {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
        user-select: none;
}
.mfp-loading.mfp-figure {
    display: none;
}
.mfp-hide {
    display: none !important;
}
.mfp-preloader {
    position: absolute;
    top: 50%;
    right: 8px;
    left: 8px;
    z-index: 1044;
    margin-top: -0.8em;
    width: auto;
    color: #CCC;
    text-align: center;
}
.mfp-preloader a {
    color: #CCC;
}
.mfp-preloader a:hover {
    color: #FFF;
}
.mfp-s-ready .mfp-preloader, .mfp-s-error .mfp-content {
    display: none;
}
button {}
button.mfp-close, button.mfp-arrow {
    z-index: 1046;
    display: block;
    overflow: visible;
    padding: 0;
    outline: none;
    border: 0;
    background: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    cursor: pointer;
    -webkit-appearance: none;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
.mfp-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 0 18px 10px;
    width: 44px;
    height: 44px;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    font-style: normal;
    font-size: 28px;
    font-family: Arial, Baskerville, monospace;
    line-height: 44px;
    opacity: 0.65;
}
.mfp-close:hover, .mfp-close:focus {
    opacity: 1;
}
.mfp-close:active {
    top: 1px;
}
.mfp-close-btn-in .mfp-close {
    color: #333;
}
.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
    right: -6px;
    padding-right: 6px;
    width: 100%;
    color: #FFF;
    text-align: right;
}
.mfp-counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #CCC;
    white-space: nowrap;
    font-size: 12px;
    line-height: 18px;
}
.mfp-arrow {
    position: absolute;
    top: 50%;
    margin: 0;
    margin-top: -55px;
    padding: 0;
    width: 90px;
    height: 110px;
    opacity: 0.65;
    -webkit-tap-highlight-color: transparent;
}
.mfp-arrow:active {
    margin-top: -54px;
}
.mfp-arrow:hover, .mfp-arrow:focus {
    opacity: 1;
}
.mfp-arrow:before {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    margin-top: 35px;
    margin-left: 35px;
    width: 0;
    height: 0;
    border: medium inset transparent;
    content: '';
}
.mfp-arrow:after {
    position: absolute;
    top: 0;
    top: 8px;
    left: 0;
    display: block;
    margin-top: 35px;
    margin-left: 35px;
    width: 0;
    height: 0;
    border: medium inset transparent;
    border-top-width: 13px;
    border-bottom-width: 13px;
    content: '';
}
.mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7;
}
.mfp-arrow-left {
    left: 0;
}
.mfp-arrow-left:after {
    margin-left: 31px;
    border-right: 17px solid #FFF;
}
.mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F;
}
.mfp-arrow-right {
    right: 0;
}
.mfp-arrow-right:after {
    margin-left: 39px;
    border-left: 17px solid #FFF;
}
.mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F;
}
.mfp-iframe-holder {
    padding-top: 40px;
    padding-bottom: 40px;
}
.mfp-iframe-holder .mfp-content {
    max-width: 900px;
    width: 100%;
    line-height: 0;
}
.mfp-iframe-holder .mfp-close {
    top: -40px;
}
.mfp-iframe-scaler {
    overflow: hidden;
    padding-top: 56.25%;
    width: 100%;
    height: 0;
}
.mfp-iframe-scaler iframe {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #000;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
/* Main image in popup */
img.mfp-img {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0 auto;
    padding: 40px 0 40px;
    max-width: 100%;
    width: auto;
    height: auto;
    line-height: 0;
}
/* The shadow behind the image */
.mfp-figure {
    line-height: 0;
}
.mfp-figure small {
    display: block;
    color: #BDBDBD;
    font-size: 12px;
    line-height: 14px;
}
.mfp-figure figure {
    margin: 0;
}
.mfp-figure:after {
    position: absolute;
    top: 40px;
    right: 0;
    bottom: 40px;
    left: 0;
    z-index: -1;
    display: block;
    width: auto;
    height: auto;
    background: #444;
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
            box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    content: '';
}
.mfp-bottom-bar {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: -36px;
    width: 100%;
    cursor: auto;
}
.mfp-title {
    padding-right: 36px;
    color: #F3F3F3;
    text-align: left;
    word-wrap: break-word;
    line-height: 18px;
}
.mfp-image-holder .mfp-content {
    max-width: 100%;
}
.mfp-gallery .mfp-image-holder .mfp-figure {
    cursor: pointer;
}
@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
    .mfp-img-mobile .mfp-image-holder {
        padding-right: 0;
        padding-left: 0;
    }
    .mfp-img-mobile img.mfp-img {
        padding: 0;
    }
    .mfp-img-mobile .mfp-figure small {
        display: inline;
        margin-left: 5px;
    }
    .mfp-img-mobile .mfp-figure:after {
        top: 0;
        bottom: 0;
    }
    .mfp-img-mobile .mfp-bottom-bar {
        position: fixed;
        top: auto;
        bottom: 0;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        margin: 0;
        padding: 3px 5px;
        background: rgba(0, 0, 0, 0.6);
    }
    .mfp-img-mobile .mfp-bottom-bar:empty {
        padding: 0;
    }
    .mfp-img-mobile .mfp-counter {
        top: 3px;
        right: 5px;
    }
    .mfp-img-mobile .mfp-close {
        position: fixed;
        top: 0;
        right: 0;
        padding: 0;
        width: 35px;
        height: 35px;
        background: rgba(0, 0, 0, 0.6);
        text-align: center;
        line-height: 35px;
    }
}
@media all and (max-width: 900px) {
    .mfp-arrow {
        -webkit-transform: scale(0.75);
        -ms-transform: scale(0.75);
            transform: scale(0.75);
    }
    .mfp-arrow-left {
        -webkit-transform-origin: 0;
        -ms-transform-origin: 0;
            transform-origin: 0;
    }
    .mfp-arrow-right {
        -webkit-transform-origin: 100%;
        -ms-transform-origin: 100%;
            transform-origin: 100%;
    }
    .mfp-container {
        padding-right: 6px;
        padding-left: 6px;
    }
}
#callBack, #getPhone, #downloadCase {
    position: relative;
    margin: 40px auto;
    padding: 30px 25px;
    max-width: 500px;
    border: 5px solid #e4fbff;
    border-radius: 6px;
    background: white;
    text-align: left;
}
#callBack p, #getPhone p, #downloadCase p {
    font-size: 14px;
}
#callBack form, #getPhone form, #downloadCase form {
    margin-top: 40px;
}
#callBack ul, #getPhone ul, #downloadCase ul {
    margin-left: 0;
    padding-left: 17px;
}
#callBack .form-control, #getPhone .form-control, #downloadCase .form-control {
    margin-bottom: 10px;
}
#callBack {
    max-width: 800px;
}
#callBack p {
    margin-bottom: 0;
    padding-bottom: 10px;
}
#callBack img {
    margin-top: 20px;
}
.my-mfp-zoom-in .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
}
.my-mfp-zoom-in.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.my-mfp-zoom-in.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.my-mfp-zoom-in.mfp-removing.mfp-bg {
    opacity: 0;
}
.my-mfp-slide-bottom .zoom-anim-dialog {
    opacity: 0;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    -ms-transform: translateY(-20px) perspective(600px) rotateX(10deg);
    transform: translateY(-20px) perspective(600px) rotateX(10deg);
}
.my-mfp-slide-bottom.mfp-ready .zoom-anim-dialog {
    opacity: 1;
    -webkit-transform: translateY(0) perspective(600px) rotateX(0);
    -ms-transform: translateY(0) perspective(600px) rotateX(0);
    transform: translateY(0) perspective(600px) rotateX(0);
}
.my-mfp-slide-bottom.mfp-removing .zoom-anim-dialog {
    opacity: 0;
    -webkit-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    -ms-transform: translateY(-10px) perspective(600px) rotateX(10deg);
    transform: translateY(-10px) perspective(600px) rotateX(10deg);
}
.my-mfp-slide-bottom.mfp-bg {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-out;
    transition: opacity 0.3s ease-out;
}
.my-mfp-slide-bottom.mfp-ready.mfp-bg {
    opacity: 0.8;
}
.my-mfp-slide-bottom.mfp-removing.mfp-bg {
    opacity: 0;
}

/* ICONS */

.ico {
    display: inline-block;
    content: ' ';
    font-style: normal;
}

/* mixin */

.ico-logo {
    width: 154px;
    height: 49px;
    background: url('../images/logo.png') no-repeat center;
}

@media(max-width: 656px) {
    .ico-logo {
        width: 140px;
        background-size: contain;
    }
}

.ico-challange {
    width: 146px;
    height: 187px;
    background: url('../images/challange-logo.png') no-repeat center;
}

@media(max-width: 1000px) {
    .ico-challange {
        -webkit-transform: scale(.75);
            -ms-transform: scale(.75);
                transform: scale(.75);
    }
}

.ico-star {
    margin-right: 3px;
    width: 18px;
    height: 16px;
    background: url('../images/ico-star.png') no-repeat center;
}

.ico-star--blank {
    -webkit-filter: grayscale(1);
            filter: grayscale(1);
}

.ico-buy {
    width: 21px;
    height: 21px;
    background: url('../images/ico-buy.png') no-repeat center;
}

.ico-mail {
    margin-right: 10px;
    width: 1.2em;
    height: 1.2em;
    background: url('../images/interface.svg') no-repeat center;
    background-size: contain;
}

.ico-insta {
    margin-right: 10px;
    width: 1.1em;
    height: 1.1em;
    background: url('../images/social-media.svg') no-repeat center;
    background-size: contain;
}

.ico-vk {
    width: 1.5em;
    height: 1.5em;
    background: url('../images/vk.svg') no-repeat center;
    background-size: contain;
}
